* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* верхняя панель */
.topbar {
  height: 50px;
  background: #1e1e2f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

/* основная часть */
.main {
  flex: 1;
  display: flex;
}